@model ProjetoMvc.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="text-center mb-4">Login</h3>
                    <form asp-action="Login">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Digite seu email" autocomplete="off" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <div class="input-group">
                                <input asp-for="Password" class="form-control" placeholder="Digite sua senha" type="password" autocomplete="off" id="loginPassword" />
                                <button type="button" class="btn btn-outline-secondary" style="height: 100%; padding: 0.375rem 0.75rem;" id="loginTogglePassword">
                                    <i class="bi bi-eye-slash" id="loginTogglePasswordIcon"></i>
                                </button>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </form>

                    <div class="mt-3 text-center">
                        <p>Não tem uma conta ainda? <a asp-controller="Account" asp-action="Registration">Cadastre-se</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    document.getElementById("loginTogglePassword").addEventListener("click", function () {
        const passwordField = document.getElementById('loginPassword');
        const passwordIcon = document.getElementById('loginTogglePasswordIcon');
        if (passwordField.type === 'password') {
            passwordField.type = 'text'; // Torna a senha visível
            passwordIcon.classList.remove('bi-eye-slash');
            passwordIcon.classList.add('bi-eye'); // Troca o ícone para olho aberto
        } else {
            passwordField.type = 'password'; // Torna a senha oculta
            passwordIcon.classList.remove('bi-eye');
            passwordIcon.classList.add('bi-eye-slash'); // Troca o ícone para olho fechado
        }
    });
</script>